.backbtn{
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0;
    height: 24px;
}
.backbtn:hover{
    cursor: pointer;
}
.flex-container{
    display: flex;
}
.leftDiv{
    width: 20% !important;
}
.middleDiv{
    width: 60% !important;
}
.rightDiv{
    width: 20% !important;
}
