.container{
    overflow: hidden;
}
/*Heading for upcoming movies*/
.heading{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}
/*Single Row ImageList(GridList as mentioned in project) with scrollbar*/
.grid-list-container{
    display: block;
}
.grid-list{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap !important;
    transform: translateZ(0);
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
/*Released movies div*/
.left{
    width: 76% !important;
    margin: 16px;
}
.release-tiles img{
    cursor: pointer;
}
/* Filter div*/
.right{
    width: 24%;
    margin: 16px;
}